* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #fff;
}

.hidden {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}

/* nav */

nav {
    background: #7f0030;
    font-size: 18px;
    z-index: 100;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.nav__logo {
    height: 45px;
}

.nav__search {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.submenu {
    display: none;
    position: absolute;
    text-align: center;
    padding: 23px 5px 5px 5px;
    background: #7f0030;
    list-style: none;
    top: 100%;
    left: 0;
    width: 110%;
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

}

.submenu li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
}

.submenu li:not(:first-child) {
    margin-top: 10px;
    margin-bottom: 5px;
}

.sub {
    position: relative;
    padding: 0 10px;
}

.sub ul:hover .submenu{
    display: block;
}

.nav__btn {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    background: transparent;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.nav__user {
    display: flex;
    color: #fff;
}

.nav__user-name {
    display: flex;
    margin: auto 0;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.nav__img {
    height: 50px;
    background: #000;
    border-radius: 50%;
}

/* banner */

.banner__img {
    height: 300px;
    width: 100%;
}

/* tile */



.films-tile__inner {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 70px;
}

.side-bar {
    border-left: 3px solid #6e6e6e3b;
    padding-left: 85px;
    padding-right: 50px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.side-bar__item:not(:last-child) {
    margin-bottom: 95px;
}

.side-bar__link,
.side-bar__link a {
    list-style-type: none;
    color: #6e6e6e;
}

.side-bar__title {
    margin-bottom: 8px;
}

.side-bar__link:not(:last-child) {
    margin-bottom: 8px;
}

/* section line */

.section-title {
    display: flex;
}

.section-title__block {
    background: #7f0030;
    width: 150px;
    padding: 10px 0 10px 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
}

.section-title__triangle {
    width: 0;
    height: 0;
    border-bottom: 50px solid #7f0030;
    border-right: 50px solid transparent;
}

.section-title__line {
    width: 100%;
    max-width: 1170px;
    position: absolute;
    background: #7f0030;
    padding: 10px 0 10px 20px;
    z-index: 0;
    margin-top: 30px;
}

/* slider */

.slide-cards__btns {
    display: flex;
    position: absolute;
    right: 0;
    border: 2px solid #000;
    margin: 10px 0;
}

.slid-cards__btn:not(:last-child) {
    border-right: 2px solid #000;
}

.slide-cards__btn {
    padding: 0 10px;
}

.slide-cards__btn {
    height: 25px;
}

.slide-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 0 40px 0;
}

.slide-cards__desc {
    color: #7f0030;
    font-family: 'Roboto Slab', serif;
}

/* footer */

footer {
    background: #7f0030;
    color: #fff;
    padding: 50px 0;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.footer__img {
    height: 80px;
    margin-bottom: 15px;
}

.footer__desc {
    width: 450px;
}

.footer__down {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contscts__down {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* film */

.film {
    padding: 50px 0;
}

.film__inner {
    display: flex;
    justify-content: space-between;
}

.film__info {
    margin-left: 50px;
}
.title__spoiler,
.title {
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    background: #7f0030;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    position: relative;
}

.wipe-btn__img {
    cursor: pointer;
    vertical-align: middle;
    width: 40px;
    margin-bottom: 2px;
    filter: invert();
}

.wipe-btn__btn {
    display: flex;
    margin: auto 0;
    justify-content: center;
    justify-items: center;
    position: absolute;
}

/* modal window */

.register {
    display: none;
    position: fixed; 
    z-index: 1000; 
    padding-top: 25vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.login {
    display: none;
    position: fixed; 
    z-index: 1000; 
    padding-top: 25vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close-login,
.close-register {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.close__block {
    margin-top: 15px;
    margin-bottom: 30px;
}

.form {
    margin: 0 auto;
    width: 450px;
    padding: 0 32px 32px 32px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  
  .form__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
  }
  
  .form__group {
    position: relative;
    margin-bottom: 32px;
  }
  
  .form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: transparent;
    outline: none;
  }
  
  .form__button {
    border: 1px solid #9c9b9b;
    background: transparent;
    border-radius: 15px;
    width: 150px;
    height: 35px;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .form__link-register,
  .form__link-login {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    direction: none;
    cursor: pointer;
    color: black;
  }
  
  .remember {
    margin-top: 20px;
    margin-right: 10px;
  }

  .error {
      padding: 15px 0;
      color: #000;
  }

  /* profile */

  .user-info__inner {
      margin: 25px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .user-info__left {
      background: #d4d4d450;
      max-width: 300px;
      width: 100%;
      max-height: 360px;
  }

.user-info__status {
    text-align: center;
    background: #7f0030;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #fff;
    padding: 10px;
}

.user-info__img {
      height: 150px;
      border-radius: 50%;
      display: block;
      margin: 25px auto;
}

.user-info__user-name {
     text-align: center;
     font-family: 'Roboto Slab', serif;
     font-weight: bold;
     margin-bottom: 15px;
}

.user-info__ps {
     text-align: center;
     margin-bottom: 25px;
}

.user-info__title {
    font-family: 'Roboto Slab', serif;
     display: flex;
     justify-content: space-between;
     padding: 10px 25px;
     background: #7f0030;
     color: #fff;
}

.user-info__right {
    width: 800px;
    background: #d4d4d450;
}

.user-info__item {
    
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #7f003146;
}

.user-info__user-stats {
    margin-top: 25px;
    padding: 0 25px;
}

.user-info__img-mini {
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.user-info__news {
    padding: 10px 25px;
    display: flex;
}

.user-info__news-desc {
    display: flex;
    margin: auto 0;
}

/* admin panel */

.admin-panel {
    font-family: 'Roboto Slab', serif;
    background: #7f00311f;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
}

.admin-panel__item {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.admin-list {
    display: none;
    margin-bottom: 25px;
}

.log-list {
    display: none;
    margin-bottom: 25px;
}

.user-list {
    display: none;
    margin-bottom: 25px;
}

.user-list__title {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.log-list__title {
    text-align: center;
    margin-top: 25px;
}

.log-item {
    padding: 10px 0;
}

.list__id {
    display: flex;
    flex-direction: column;
}

.user-list__tit th{
    padding: 10px 0;
}

.user-list__tit {
    background: #7f00311f;
}

.user-list__user:nth-child(2n){
    background: #7f00311f;
}

.log-item:nth-child(2n) {
    background: #7f00311f;
}

.user-list__user {
    width: 100%;
}

.user-list__user td{
    padding: 10px;
}

.user-list__title table{
    width: 80%;
    text-align: center;
}