* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #fff;
}

.hidden {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}

/* nav */

nav {
    background: #7f0030;
    font-size: 18px;
    z-index: 100;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.nav__logo {
    height: 45px;
}

.nav__search {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.submenu {
    display: none;
    position: absolute;
    text-align: center;
    padding: 23px 5px 5px 5px;
    background: #7f0030;
    list-style: none;
    top: 100%;
    left: 0;
    width: 110%;
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

}

.submenu li:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
}

.submenu li:not(:first-child) {
    margin-top: 10px;
    margin-bottom: 5px;
}

.sub {
    position: relative;
    padding: 0 10px;
}

.sub ul:hover .submenu{
    display: block;
}

.nav__btn {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    background: transparent;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.nav__user {
    display: flex;
    color: #fff;
}

.nav__user-name {
    display: flex;
    margin: auto 0;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.nav__img {
    height: 50px;
    width: 50px;
    background: #000;
    border-radius: 50%;
}

/* banner */

.banner__img {
    height: 300px;
    width: 100%;
}

/* tile */

.tile__img {
    height: 209px;
    width: 209px;
}

.films-tile__inner {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 70px;
}

.side-bar {
    border-left: 3px solid #6e6e6e3b;
    padding-left: 85px;
    padding-right: 50px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.side-bar__item:not(:last-child) {
    margin-bottom: 95px;
}

.side-bar__link,
.side-bar__link a {
    list-style-type: none;
    color: #6e6e6e;
}

.side-bar__title {
    margin-bottom: 8px;
}

.side-bar__link:not(:last-child) {
    margin-bottom: 8px;
}

/* section line */

.section-title {
    display: flex;
}

.section-title__block {
    background: #7f0030;
    width: 150px;
    padding: 10px 0 10px 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
}

.section-title__triangle {
    width: 0;
    height: 0;
    border-bottom: 50px solid #7f0030;
    border-right: 50px solid transparent;
}

.section-title__line {
    width: 100%;
    max-width: 1170px;
    position: absolute;
    background: #7f0030;
    padding: 10px 0 10px 20px;
    z-index: 0;
    margin-top: 30px;
}

/* slider */

.slide-cards__btns {
    display: flex;
    position: absolute;
    right: 0;
    border: 2px solid #000;
    margin: 10px 0;
}

.slid-cards__btn:not(:last-child) {
    border-right: 2px solid #000;
}

.slide-cards__btn {
    padding: 0 10px;
}

.slide-cards__btn {
    height: 25px;
}

.slide-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 0 40px 0;
}

.slide-cards__desc {
    color: #7f0030;
    font-family: 'Roboto Slab', serif;
}

/* footer */

footer {
    background: #7f0030;
    color: #fff;
    padding: 50px 0;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.footer__img {
    height: 80px;
    margin-bottom: 15px;
}

.footer__desc {
    width: 450px;
}

.footer__down {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contscts__down {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* film */

.film {
    padding: 50px 0;
}

.film__inner {
    display: flex;
    justify-content: space-between;
}

.film__info {
    margin-left: 50px;
}
.title__spoiler,
.title {
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    background: #7f0030;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    position: relative;
}

.wipe-btn__img {
    cursor: pointer;
    vertical-align: middle;
    width: 40px;
    margin-bottom: 2px;
    filter: invert();
}

.wipe-btn__btn {
    display: flex;
    margin: auto 0;
    justify-content: center;
    justify-items: center;
    position: absolute;
}

/* modal window */

.register {
    display: none;
    position: fixed; 
    z-index: 1000; 
    padding-top: 25vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.login {
    display: none;
    position: fixed; 
    z-index: 1000; 
    padding-top: 25vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close-login,
.close-register {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.close__block {
    margin-top: 15px;
    margin-bottom: 30px;
}

.form {
    margin: 0 auto;
    width: 450px;
    padding: 0 32px 32px 32px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  
  .form__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
  }
  
  .form__group {
    position: relative;
    margin-bottom: 32px;
  }
  
  .form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: transparent;
    outline: none;
  }
  
  .form__button {
    border: 1px solid #9c9b9b;
    background: transparent;
    border-radius: 15px;
    width: 150px;
    height: 35px;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .form__link-register,
  .form__link-login {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    direction: none;
    cursor: pointer;
    color: black;
  }
  
  .remember {
    margin-top: 20px;
    margin-right: 10px;
  }

  .error {
      padding: 15px 0;
      color: #000;
  }

  /* profile */

  .user-info__inner {
      margin: 25px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .user-info__left {
      background: #d4d4d450;
      max-width: 300px;
      width: 100%;
      max-height: 360px;
  }

.user-info__status {
    text-align: center;
    background: #7f0030;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: #fff;
    padding: 10px;
}

.user-info__img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      display: block;
      margin: 25px auto;
}

.user-info__user-name {
     text-align: center;
     font-family: 'Roboto Slab', serif;
     font-weight: bold;
     margin-bottom: 15px;
}

.user-info__ps {
     text-align: center;
     margin-bottom: 25px;
}

.user-info__title {
    font-family: 'Roboto Slab', serif;
     display: flex;
     justify-content: space-between;
     padding: 10px 25px;
     background: #7f0030;
     color: #fff;
}

.user-info__right {
    width: 800px;
    background: #d4d4d450;
}

.user-info__item {
    
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #7f003146;
}

.user-info__user-stats {
    margin-top: 25px;
    padding: 0 25px;
}

.user-info__img-mini {
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.user-info__news {
    padding: 10px 25px;
    display: flex;
}

.user-info__news-desc {
    display: flex;
    margin: auto 0;
}

/* admin panel */

.admin-panel {
    font-family: 'Roboto Slab', serif;
    background: #7f00311f;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
}

.admin-panel__item {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.admin-list {
    position: absolute;
    overflow: hidden;    
    transition: all .5s ease;
    max-height:0px;
    margin-bottom: 25px;
}

.log-list {
    position: absolute;
    overflow: hidden;    
    transition: all .5s ease;
    max-height:0px;
    margin-bottom: 25px;
}

.user-list {
    margin-bottom: 25px;
    overflow: hidden;    
    transition: all .5s ease;
}


.user-list__title {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.log-list__title {
    text-align: center;
    margin-top: 25px;
}

.log-item {
    padding: 10px 0;
}

.list__id {
    display: flex;
    flex-direction: column;
}

.user-list__tit th{
    padding: 10px 0;
}

.user-list__tit {
    background: #7f00311f;
}

.user-list__user:nth-child(2n){
    background: #7f00311f;
}

.log-item:nth-child(2n) {
    background: #7f00311f;
}

.user-list__user {
    width: 100%;
}

.user-list__user td{
    padding: 10px;
}

.user-list__title table{
    width: 80%;
    text-align: center;
}

/* sub cards */
.sub__sub-title,
.sub__title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #7f0030;
}

.sub__title{
    font-size: 42px;
    margin: 40px 0;
}

.sub__sub-title{
    border: 2px dashed #7f0030;
    font-size: 18px;
    max-width: 550px;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 30px;
}

.sub-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sub-cards__card {
    border: 5px solid #7f0030;
    border-radius: 40px;
    width: 25%;
    position: relative;
}

.card__title {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    padding: 20px 0;
}

.price {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    background: #7f0030;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.card__price {
    margin-bottom: 10px;
}

.card__desc {
    text-align: center;
    margin-bottom: 20px;
}

.card-buy {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    position: absolute;
    left: 35%;
    bottom: 0;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #7f0030;
    border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.card__desc-cont {
    padding: 20px 0 40px 0;
}

.card__employee {
    padding: 0 0 35px 0;
}

/* select box */

.select-box {
    position: relative;
    display: block;
    width: 100%;

    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #60666d;
}

@media (min-width: 768px) {
    .select-box {
      width: 40%;
    }
}

@media (min-width: 992px) {
    .select-box {
      width: 20%;
    }
}

@media (min-width: 1200px) {
    .select-box {
      width: 15%;
    }
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.open-user-settings:focus  .open-block {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    outline: 0;
    outline: none;
}

.open-user-settings::-moz-focus-inner {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
  }

.select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}


.select-box__value {
    display: -webkit-box;
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked + .select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}

.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}
  
@-webkit-keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }

    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
}
  
@keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
    }
}
  
  /* user-settings */
.open-janr-settings.
.user-settings__age,
.user-settings__sex {
    background: rgb(241, 241, 241);
    font-family: 'Roboto Slab', serif;
    display: flex;
    padding: 20px;
}

.sex {
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.user-settings{
    position: relative;
    margin-top: 10px;
    background-color:none;
    display: none;
}

.open-janr-settings {
    margin-top: 10px;
}

.user-settings::-moz-focus-inner {
    border: 0;
    outline: none;
  }

.user-settings__inner {
    -webkit-animation-name: toped;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

@-webkit-keyframes toped {
    from {top:-500px;} 
    to {top:0;}
}

@keyframes toped {
    from {top:-1000px;}
    to {top:0;}
}



.user-settings__age {
    margin-top: 10px;
}

.age {
    margin-right: 10px;
    padding: 5px 0;
}

.user-settings__sex {
    width: 100%;
}

.age__input{
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #546c84;
    color: #546c84;
    padding: 7px 0 7px 5px;
}

input::-webkit-input-placeholder {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #546c84;
}

input:-moz-placeholder {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #546c84;
}

.open-admin-settings,
.open-user-settings {
    display: flex;
    
    background: rgb(241, 241, 241);
    font-family: 'Roboto Slab', serif;
   padding: 20px;
}

.open-user-settings {
    margin-top: 10px;
}

.open-admin-settings {
    margin-top: 10px;
}
.open-block {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 5;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}


.admin-settings__emp {
    display: none;
    -webkit-animation-name: toped;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

.save {
    margin-top: 10px;
    float: right;
    padding: 5px;
    border: 2px solid #7f0030;
    color: #7f0030;
    margin-bottom: 10px;
}

.clear-fix {
    clear: both;
}