* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}

/* nav */

nav {
    background: #7f0030;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 20px 0;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 45px;
}

.nav__search {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

.nav__btn {
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    background: transparent;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

/* banner */

.banner__img {
    height: 300px;
    width: 100%;
}

/* tile */



.films-tile__inner {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.tile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 70px;
}

.side-bar {
    border-left: 3px solid #6e6e6e3b;
    padding-left: 85px;
    padding-right: 50px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

.side-bar__item:not(:last-child) {
    margin-bottom: 95px;
}

.side-bar__link,
.side-bar__link a {
    list-style-type: none;
    color: #6e6e6e;
}

.side-bar__title {
    margin-bottom: 8px;
}

.side-bar__link:not(:last-child) {
    margin-bottom: 8px;
}

/* section line */

.section-title {
    display: flex;
}

.section-title__block {
    background: #7f0030;
    width: 150px;
    padding: 10px 0 10px 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    z-index: 1;
}

.section-title__triangle {
    width: 0;
    height: 0;
    border-bottom: 50px solid #7f0030;
    border-right: 50px solid transparent;
}

.section-title__line {
    width: 100%;
    max-width: 1170px;
    position: absolute;
    background: #7f0030;
    padding: 10px 0 10px 20px;
    z-index: 0;
    margin-top: 30px;
}

/* slider */

.slide-cards__btns {
    display: flex;
    position: absolute;
    right: 0;
    border: 2px solid #000;
    margin: 10px 0;
}

.slid-cards__btn:not(:last-child) {
    border-right: 2px solid #000;
}

.slide-cards__btn {
    padding: 0 10px;
}

.slide-cards__btn {
    height: 25px;
}

.slide-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 55px 0 40px 0;
}

.slide-cards__desc {
    color: #7f0030;
    font-family: 'Roboto Slab', serif;
}

/* footer */

footer {
    background: #7f0030;
    color: #fff;
    padding: 50px 0;
}

.footer__img {
    height: 80px;
    margin-bottom: 15px;
}

.footer__desc {
    width: 450px;
}

.footer__down {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contscts__down {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* film */

.film {
    padding: 50px 0;
}

.film__inner {
    display: flex;
    justify-content: space-between;
}

.film__info {
    margin-left: 50px;
}
.title__spoiler,
.title {
    justify-content: space-between;
    display: flex;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    background: #7f0030;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    position: relative;
}

.wipe-btn__img {
    cursor: pointer;
    vertical-align: middle;
    width: 40px;
    margin-bottom: 2px;
    filter: invert();
}

.wipe-btn__btn {
    display: flex;
    margin: auto 0;
    justify-content: center;
    justify-items: center;
    position: absolute;
}

/* modal window */

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 25vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close__block {
    margin-top: 15px;
    margin-bottom: 30px;
}

.form {
    margin: 0 auto;
    width: 450px;
    padding: 0 32px 32px 32px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  
  .form__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
  }
  
  .form__group {
    position: relative;
    margin-bottom: 32px;
  }
  
  .form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: transparent;
    outline: none;
  }
  
  
  
  .form__button {
    border: 1px solid #9c9b9b;
    background: transparent;
    border-radius: 15px;
    width: 150px;
    height: 35px;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .form__link_register {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    direction: none;
    color: black;
  }
  
  .remember {
    margin-top: 20px;
    margin-right: 10px;
  }